.root {
    flex-grow: 1;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 120px;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    background-color: black;
    color: white;
}

@media screen and (max-width: 600px){
    .header {
        font-size: 28px;
    }
}

.main {
    background-color: #132639;;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: lighter;
    text-transform: capitalize;
    min-height: 100vh;
}

.mainLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20%;
}

.title {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-weight: normal;
    background-color: #001a33;
    font-size: 20px;
    text-transform: uppercase;
}

.employeesList {
    width: 360px;
    background-color: #001a33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.employeeItem {
    display: flex;
    flex-direction: column;
}



.Collapsible .Collapsible__trigger {
    justify-content: center;
    display: flex;
    font-weight: normal;
    padding: 10px;
}

.employeeDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
}

.employeeDetails span {
    margin: 3px 0 3px 0;
}

.leftDetails, .rightDetails {
    display: flex;
    flex-direction: column;

}

